<!DOCTYPE html>
<!-- This website template was created by: Ayana Edwards March 3 2020-->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>
	
	<div id="container">
	
	<!-- Use the header area for the website name or logo -->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="class.html">Classes</a></li>
			<li><a href="nutrition.html">Nutrition</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>
	
<!-- Nutrition Page Banner -->
<div id="banner" clear="desktop">
	<img  src="images/nutritionBanner.jpg" alt="nutrition banner image">
</div>

	<main>
		<p>Welcome to the Forward Fitness Club. Our mission is to clients meet their fitness and nutrition goals.</p>
		<p>If you have struggled with getting healthy and need the motivation and resources to make a healty lifestyle change, contact us today. Our facility includes state-of-the-art equipment, convenient group training classes, and nutrition tips and information to keep you healthy.</p>
		<p>We provide a Free, one-week membership to experience the benefits of our equipment and facility. This one-week trial gives you complete access to our equipment, training classes, and nutrition planning. Contact us today to start your free trial!</p>	

<article>
		<h2>Food for Thought</h2>
		<img  src="images/nutritional.jpg" alt="food for thought image" class="desktop">
		<p>Good nutrition is a lifestyle, not a diet. It starts with a new way of thinking about food. Think of body as a vehicle that uses food for fuel. Fill your tank with the right type of fuel.</p>
		<p>Do not approach your nutrition plan as a diet plan, but rather, a lifestyle change. If you make a permanent change, you will see big results. The key to success is a daily focus on your goal.</p>
		<p>Portion your meals and track your calories. There are many free mobile apps available to help track your activity level and calories.</p>
		<p>Control impulsive urges to buy junk food, and instead, allow yourself to one "cheat" meal a week.</p>
		<aside>Did you know the average Americans consumes 3lbs of sugars each weeks?</aside>
</article>

<article>
		<h2>What to Eat</h2>
		<img  src="images/nutrition2.jpg" alt="food image" class="desktop">
		<p>Use the following as a guideline:</p>
		<ul>
			<li>Protein, such as eggs, chicken, and lean red meat</li>
			<li>Vegetables, but avoid corn and peas</li>
			<li>Fruuit</li>
			<li>Fat, such as olive oil, nuts, and seeds</li>
		</ul>
		<p>Limit the consumption of bread, pasta, white potatoes, and processed food. These foods are high in carbohydrates.</p>
		<p>When you shop for groceries, shop the outside isles and buy organic when possible. Stock up on fresh vegetables, almond flour, and flax seed.</p>
		<p>Check out our Meal of the Week for new meal ideas.</p>
		<aside>Did you know that avocados are a good course of Vitamin B?</aside>
</article>

<article>
	<h2>Meal of the Week</h2>
	<img  src="images/nutrition3.jpg" alt="herb roasted chicken image" class="desktop">
	<p>Herb Roasted Chicken</p>
	<p>Ingredients:</p>
	<ul>
		<li>boneless, skinless chicken breast (organic preferred)</li>
		<li>1 tsp Herbes de Provence</li>
		<li>1 tsp lemon juice</li>
		<li>1 tsp olive oil</li>
		<li>1 tsp sea salt</li>
		<li>&frac14; tap pepper</li>
	</ul>
	<p>instructions:<br>
	Combine all ingredients in a plastic bag and marinate for at least an hour. Preheat oven to 350 degrees. Bake chicken for 30-35 minutes or juices run clear. Broil on high for two minutes or until brown. Serve with a fresh a side salad.</p>
	<aside>Did you know the average active adult should consume 2,000 calories a day?</aside>
	
			
	</main>		
	<!-- Use the footer area to add webpage footer content -->
	<footer>
	&copy; Copyright 2015. All Rights Reserved.<br>
	<a href="mailto:forwforwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
	
	</div>
	
</body>
</html>